.box {
    position: relative;
    margin: auto;
    display: block;
    background: #3e5c32;
    margin-top: 8%;
    width: 600px;
    height: 400px;
}
.head {
    position: absolute;
    background: #a89b6e;
    border-radius: 50%;
    width: 50%;
    height: 67%;
    top: 15%;
    left: 25%;
}
.head-copy{
    width: 100%;
    height: 100%;
    position: absolute;
    background: #a89b6e;
    border-radius: 50%;
    z-index: 2;
}
.ear-left, .ear-right {
              position: absolute;
              background: #a89b6e;
              border-radius: 50%;
              width: 36%;
              height: 41%;
              top: 5%;
          }
.ear-left {
    left: -20%;
}
.ear-right {
    right: -20%;
}
.inner-ear{
    position: absolute;
    border-radius: 50%;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    background: #4e4732;
}
.eye-left{
    position: absolute;
    background: white;
    width: 30%;
    height: 33%;
    top: 25%;
    left: 20%;
    border-radius: 50%;
    z-index: 2;
}
.eye-right{
    position: absolute;
    background: white;
    width: 30%;
    height: 33%;
    top: 25%;
    right: 20%;
    border-radius: 50%;
    z-index: 3;
}
.pupil{
    position: absolute;
    width: 28%;
    height: 30%;
    top: 35%;

    left: 36%;
    border-radius: 50%;
    background: #27354A;
}
.nose{
    position: absolute;
    background: #000000;
    width: 25%;
    height: 22.5%;
    left: 37%;
    top: 55%;
    border-radius: 50px;
    z-index: 4;
    clip-path: polygon(33% 30%, 74% 30%, 100% 30%, 85% 68%, 58% 100%, 43% 100%, 15% 68%, 0% 30%);
}
.hair-left{
    position: absolute;
    top: 64%;
    left: 30%;
    width: 20%;
    height: 20%;
    background: #000000;
    clip-path: polygon(78% 83%, 67% 91%, 53% 94%, 41% 93%, 54% 98%, 66% 96%, 81% 88%, 94% 77%, 99% 59%, 90% 72%);
    height: 20%;
    z-index: 5;
}
.hair-right{
    position: absolute;
    top: 64%;
    left: 48%;
    width: 20%;
    clip-path: polygon(22% 83%, 33% 91%, 47% 94%, 59% 93%, 46% 98%, 34% 96%, 19% 88%, 6% 77%, 1% 59%, 10% 72%);
    height: 20%;
    background: #000000;
    z-index: 5;
}